---
// src/pages/index.astro
import BaseLayout from '../../layouts/Layout.astro';
const base = import.meta.env.BASE_URL;
---

<BaseLayout title="MiRouter-UI | 设备详情">
  <!-- 添加ECharts脚本 -->
  <Fragment slot="head">
    <script src={`${base}js/echarts.min.js`}></script>
  </Fragment>

  
  <!-- 主要内容 -->
  <main slot="main">
	<div class="mdui-container">
		<div class="mdui-card mdui-m-a-2">
			<!-- 卡片标题 -->
			<div class="mdui-card-header">
				<img class="mdui-card-header-avatar" id="deviceicon" src={`${base}img/device.png`} />
				<div class="mdui-card-header-title" id="devicename">loading</div>
				<div class="mdui-card-header-subtitle" id="device_oname">loading</div>
				<div class="mdui-card-menu">
					<a href="javascript:jumptodevicehisory()">
						<i id="info-3" class="mdui-icon material-icons" mdui-tooltip="{content: '查看历史记录'}">history</i>
					</a>
				</div>

			</div>
			<!-- 卡片内容 -->
			<div class="mdui-card-content">
				<!-- 网格布局 -->
				<div class="mdui-row-xs-1 mdui-row-sm-2">
					<!-- 网络上传速度 -->
					<div class="mdui-col">
						<div class="mdui-typo-subheading-opacity" i18n="general.uploadspeed">上传速度</div>
						<span class="mdui-typo-body-2-opacity" id="uploadspeed">88GB/s</span>
						<div class="mdui-typo-subheading-opacity" i18n="general.maxuploadspeed">最大上传速度</div>
						<span class="mdui-typo-body-2-opacity" id="maxuploadspeed">88GB/s</span>
					</div>
					<!-- 网络下载速度 -->
					<div class="mdui-col">
						<div class="mdui-typo-subheading-opacity" i18n="general.downloadspeed">下载速度</div>
						<span class="mdui-typo-body-2-opacity" id="downloadspeed">88GB/s</span>
						<div class="mdui-typo-subheading-opacity" i18n="general.maxdownloadspeed">最大下载速度</div>
						<span class="mdui-typo-body-2-opacity" id="maxdownloadspeed">88GB/s</span>
					</div>
				</div>
				<div class="mdui-divider gap"></div>

				<div id="speed-chart" style="width: 100%; height: 300px;"></div>
				<!-- 分割线 -->
				<div class="mdui-divider gap"></div>
				<div class="mdui-typo-subheading-opacity mdui-m-y-1" i18n="general.totaltraffic">总出入流量</div>
				<div class="mdui-row-xs-1 mdui-row-sm-2">
					<div class="mdui-col">

						<span class="mdui-typo-body-2-opacity" i18n="general.upload">上传：</span>
						<span id="uploadtotal">88GB</span>
					</div>
					<div class="mdui-col">

						<span class="mdui-typo-body-2-opacity" i18n="general.download">下载：</span>
						<span id="downloadtotal">88GB</span>
					</div>
				</div>
				<div class="mdui-divider gap"></div>
				<div id="traffic-chart" style="width: 100%; height: 300px;"></div>
				<div class="mdui-divider gap"></div>
				<!-- 权限信息 -->
				<div class="mdui-typo-subheading-opacity mdui-m-y-1" i18n="general.authority">权限</div>
				<div class="mdui-row-xs-1 mdui-row-sm-2">
					<div class="mdui-col">
						<span class="mdui-typo-body-2-opacity" i18n="device.authority.wan">可访问<strong>wan</strong>网络：</span>
						<span id="authority_wan">load</span>
					</div>
					<div class="mdui-col">
						<span class="mdui-typo-body-2-opacity" i18n="device.authority.lan">可访问<strong>lan</strong>网络：</span>
						<span id="authority_lan">load</span>
					</div>
					<div class="mdui-col">
						<span class="mdui-typo-body-2-opacity" i18n="device.authority.admin">可以管理员身份访问：</span>
						<span id="authority_admin">load</span>
					</div>
					<div class="mdui-col">
						<span class="mdui-typo-body-2-opacity" i18n="device.authority.pridisk">可访问隐私盘：</span>
						<span id="authority_pridisk">load</span>
					</div>
				</div>
				<div class="mdui-divider gap"></div>
				 <!-- 更多信息 -->
				<div class="mdui-typo-subheading-opacity mdui-m-y-1" i18n="general.moreinfo">更多信息</div>
				<div class="mdui-row-xs-1 mdui-row-sm-2">
					<div class="mdui-col">
						<span class="mdui-typo-body-2-opacity" i18n="device.ipaddress">IP地址：</span>
						<span id="ipaddress">load</span>
					</div>
					<div class="mdui-col">
						<span class="mdui-typo-body-2-opacity" i18n="device.mac">MAC地址：</span>
						<span id="mac">load</span>
					</div>
					<div class="mdui-col">
						<span class="mdui-typo-body-2-opacity" i18n="device.onlinetime">在线时长：</span>
						<span id="onlinetime">load</span>
					</div>
					<div class="mdui-col">
						<span class="mdui-typo-body-2-opacity" i18n="device.connectway">设备连接方式：</span>
						<span id="connecttype">load</span>
					</div>
					<div class="mdui-col">
						<span class="mdui-typo-body-2-opacity" i18n="device.isonline">是否在线：</span>
						<span id="isonline">load</span>
					</div>
					<div class="mdui-col">
						<span class="mdui-typo-body-2-opacity" i18n="device.isap">是否为 AP：</span>
						<span id="isap">load</span>
					</div>
				</div>
				<div class="mdui-divider gap"></div>
				<!-- 网络信息 -->
				<div class="mdui-typo-subheading-opacity mdui-m-y-1" i18n="general.connectInfo">网络信息（无线）</div>
				<div class="mdui-row-xs-1 mdui-row-sm-2">

					<div class="mdui-col">
						<span class="mdui-typo-body-2-opacity" i18n="device.connectInfo.connect_downspeed">连接速率（下载）：</span>
						<span id="connect_downspeed">load</span>
					</div>

					<div class="mdui-col">
						<span class="mdui-typo-body-2-opacity" i18n="device.connectInfo.connect_upspeed">连接速率（上传）：</span>
						<span id="connect_upspeed">load</span>
					</div>

					<div class="mdui-col">
						<span class="mdui-typo-body-2-opacity" i18n="device.connectInfo.connect_signal">信号强度：</span>
						<span id="connect_signal">load</span>
					</div>

				</div>
			</div>
		</div>
		<script src={`${base}js/device.js`}></script>
	</div>
  </main>
</BaseLayout>