---
// src/pages/index.astro
import BaseLayout from '../../layouts/Layout.astro';
import Sidebar from '../../components/Sidebar.astro';
import AppBar from '../../components/AppBar.astro';
const base = import.meta.env.BASE_URL;
---

<BaseLayout title="MiRouter-UI | 温度">
  <!-- 添加ECharts脚本 -->
  <Fragment slot="head">
    <script src={`${base}js/echarts.min.js`}></script>
  </Fragment>
  

  
  <!-- 主要内容 -->
  <main slot="main">
	<div class="mdui-container">
		<div class="mdui-card mdui-m-a-2">
			<div class="mdui-card-content">
				<div class="mdui-typo-subheading-opacity mdui-m-y-1" i18n="temperature.subheading">温度显示</div>
				<div class="mdui-divider gap"></div>
				<div class="mdui-typo-subheading-opacity mdui-m-y-1" i18n="temperature.subheading2">模式</div>
				<select class="mdui-select">
					<option value="1" i18n="temperature.option1" i18n-only="html">API</option>
					<option value="2" i18n="temperature.option2" i18n-only="html">通过后端程序获取</option>
				  </select>
				<div class="mdui-divider gap"></div>

				<div class="mdui-table-fluid">
					<table class="mdui-table mdui-table-hoverable">
						<thead>
							<tr>
								<th i18n="temperature.th.temperature">核心温度</th>
								<th i18n="temperature.th.fanspeed">风扇转速</th>
								<th i18n="temperature.th.moduletemperature24g">2.4G模块温度</th>
								<th i18n="temperature.th.moduletemperature5g">5G模块温度</th>
							</tr>
						</thead>
						<tbody id="tp-list">
						</tbody>
					</table>
				</div>
				<div class="mdui-divider gap"></div>
				<div id="tp-chart" style="width: 100%; height: 300px;"></div>
			</div>
		</div>
		<script src={`${base}js/temperature.js`}></script>
	</div>
  </main>
</BaseLayout>