---
// src/pages/index.astro
import BaseLayout from '../layouts/Layout.astro';
import Sidebar from '../components/Sidebar.astro';
import AppBar from '../components/AppBar.astro';
const base = import.meta.env.BASE_URL;
---

<BaseLayout title="MiRouter-UI | 首页">
  <!-- 添加ECharts脚本 -->
  <!-- <Fragment slot="head">
    <script src={`${base}js/echarts.min.js`}></script>
  </Fragment> -->
  

  
  <!-- 主要内容 -->
  <main slot="main">
    <div class="mdui-container">
		<div class="mdui-card mdui-m-a-2">
			<!-- 卡片标题 -->
			<div class="mdui-card-header">
			  <img class="mdui-card-header-avatar" src={`${base}img/mirouter.png`} style="border-radius: 0%;" alt="Mirouter Logo"/>
			  <div class="mdui-card-header-title" id="platform">platform</div>
			  <div class="mdui-card-header-subtitle" id="router_name">name</div>
			  <div class="mdui-card-menu">
				<a href={`${base}router/index.html`}>
				  <i id="info-3" class="mdui-icon material-icons" mdui-tooltip="{content: '查看路由器详细信息'}">info_outline</i>
				</a>
			  </div>
			</div>
			
			<!-- 卡片内容 -->
			<div class="mdui-card-content">
			  <!-- 网格布局 -->
			  <div class="mdui-row-xs-1 mdui-row-sm-2">
				<!-- CPU 使用率 -->
				<div class="mdui-col">
				  <div class="mdui-typo-subheading-opacity" i18n="general.cpu-used">CPU 使用率</div>
				  <div class="mdui-progress" id="cpu-used">
					<div class="mdui-progress-determinate mdui-color-indigo-400" style="width: 0%"></div>
				  </div>
				  <div class="mdui-typo-body-2-opacity" id="cpu-used-text">load</div>
				</div>
				
				<!-- 内存使用率 -->
				<div class="mdui-col">
				  <div class="mdui-typo-subheading-opacity" i18n="general.mem-used">内存使用率</div>
				  <div class="mdui-progress" id="mem-used">
					<div class="mdui-progress-determinate mdui-color-pink-400" style="width: 0%"></div>
				  </div>
				  <div class="mdui-typo-body-2-opacity" id="mem-used-text">load</div>
				</div>
			  </div>
			  
			  <!-- 分割线 -->
			  <div class="mdui-divider gap"></div>
			  
			  <div class="mdui-row-xs-1 mdui-row-sm-2">
				<!-- 网络上传速度 -->
				<div class="mdui-col">
				  <div class="mdui-typo-subheading-opacity" i18n="general.uploadspeed">上传速度</div>
				  <span class="mdui-typo-body-2-opacity" id="uploadspeed">load</span>
				  <div class="mdui-typo-subheading-opacity" i18n="general.maxuploadspeed">最大上传速度</div>
				  <span class="mdui-typo-body-2-opacity" id="maxuploadspeed">load</span>
				</div>
				
				<!-- 网络下载速度 -->
				<div class="mdui-col">
				  <div class="mdui-typo-subheading-opacity" i18n="general.downloadspeed">下载速度</div>
				  <span class="mdui-typo-body-2-opacity" id="downloadspeed">load</span>
				  <div class="mdui-typo-subheading-opacity" i18n="general.maxdownloadspeed">最大下载速度</div>
				  <span class="mdui-typo-body-2-opacity" id="maxdownloadspeed">load</span>
				</div>
			  </div>
			  
			  <!-- 分割线 -->
			  <div class="mdui-divider gap"></div>
			  
			  <!-- 总出入流量 -->
			  <div class="mdui-typo-subheading-opacity mdui-m-y-1" i18n="general.totaltraffic">总出入流量</div>
			  <div class="mdui-row-xs-1 mdui-row-sm-2">
				<div class="mdui-col">
				  <span class="mdui-typo-body-2-opacity" i18n="general.upload">上传：</span>
				  <span id="uploadtotal">load</span>
				</div>
				<div class="mdui-col">
				  <span class="mdui-typo-body-2-opacity" i18n="general.download">下载：</span>
				  <span id="downloadtotal">load</span>
				</div>
			  </div>
			</div>
			
			<div class="mdui-divider gap"></div>
			
			<div class="mdui-card-content">
			  <div class="mdui-typo-subheading-opacity mdui-m-y-1" i18n="index.devicelist">设备列表（详细数据点击设备名称）</div>
			  <div class="mdui-table-fluid">
				<table class="mdui-table mdui-table-hoverable">
				  <thead>
					<tr>
					  <th i18n="general.th.devicename">设备名称</th>
					  <th i18n="general.th.downloadspeed">下载速度</th>
					  <th i18n="general.th.uploadspeed">上传速度</th>
					  <th i18n="general.th.uploadtotal">总上传量</th>
					  <th i18n="general.th.downloadtotal">总下载量</th>
					</tr>
				  </thead>
				  <tbody id="device-list">
				  </tbody>
				</table>
			  </div>
			  
			  <div class="mdui-divider gap"></div>
			  
			  <span class="mdui-typo-subheading-opacity mdui-m-y-1">
				累计终端: <strong><span id="devicenum">load</span></strong> 个，当前连接了 <strong><span id="devicenum_now">load</span></strong> 个设备
			  </span>
			</div>
		  </div>
      <script src={`${base}js/index.js`} defer></script>
    </div>
  </main>
</BaseLayout>