---
// src/pages/index.astro
import BaseLayout from '../../layouts/Layout.astro';
import Sidebar from '../../components/Sidebar.astro';
import AppBar from '../../components/AppBar.astro';
const base = import.meta.env.BASE_URL;
---

<BaseLayout title="MiRouter-UI | Upnp">
  <!-- 添加ECharts脚本 -->
  <!-- <Fragment slot="head">
    <script src={`${base}js/echarts.min.js`}></script>
  </Fragment> -->
  

  
  <!-- 主要内容 -->
  <main slot="main">
    <div class="mdui-container">
      <div class="mdui-card mdui-m-a-2">
          <div class="mdui-card-content">
              <div class="mdui-typo-subheading-opacity mdui-m-y-1" i18n="upnp.subheading">Upnp状态</div>
              <div class="mdui-table-fluid">
                  <table class="mdui-table mdui-table-hoverable">
                      <thead>
                          <tr>
                              <th i18n="upnp.th.clientip">客户端IP</th>
                              <th i18n="upnp.th.protocol">协议</th>
                              <th i18n="upnp.th.innerport">内部端口</th>
                              <th i18n="upnp.th.externalport">外部端口</th>
                              <th i18n="upnp.th.appname">应用名称</th>

                          </tr>
                      </thead>
                      <tbody id="upnp-list">
                      </tbody>
                  </table>
              </div>
              <div class="mdui-divider gap"></div>

              <span class="mdui-typo-subheading-opacity mdui-m-y-1" i18n="upnp.subheading2">
                  共有 <strong><span id="upnpnum">load</span></strong> 条记录
              </span>
          </div>
      </div>
      
      <script src={`${base}js/upnp.js`}></script>
  
    </div>
  </main>
</BaseLayout>